<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VersionOne.SDK.APIClient" publicKeyToken="e0f410c10d2e7630" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.3.139.0" newVersion="12.3.139.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>